<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
        <!-- Link hacia el archivo de estilos css -->
        <link rel="stylesheet" href="recuperarcon.component.css">
        
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    
    <body>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Recuperar Contraseña
                    </div>
                    <form id="loginform">
                        <input type="text" name="registro" placeholder="Registro Academico" required>
                        
                        <input type="text" placeholder="Correo" name="correo" required>
                        
                        <input type="password" placeholder="Nueva Contraseña" name="password" required>

                        <button type="submit" title="Ingresar" name="Ingresar">Continuar</button>
                    </form>
                   
                </div>
                <div class="inferior">
                    <a href="#" [routerLink]="['']">Volver</a>
                </div>
            </div>
        </div>
            
    </body>
</html>

